{% extends 'base.html' %} {% block content %}
<div class="container">
  <div
    class="card shadow p-1 mb-3 mt-3 mx-auto bg-white rounded"
    style="max-width: 50em"
  >
    <div class="card-header">
      <h4>{{ board.title }}</h4>
    </div>
    <div class="card-body">
      <h5>{{ board.description }}</h5>
    </div>
  </div>

  {% if board_pins %}
  <div class="card-columns">
    {% for pin in board_pins %}
    <div class="card shadow rounded" style="width: 18em">
      <a href="/pin/{{ pin.id }}"
        ><img
          class="card-img-top img-fluid"
          src="/media/{{ pin.photo }}"
          alt="pinphoto"
      /></a>
      <div class="card-block ml-1">
        <h4 class="card-title">{{ pin.title }}</h4>
        <a href="/pin/{{ pin.id }}" class="stretched-link"></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}
