{% extends 'base.html' %} {% block content %}
<div class="container">
<!--
  <div
    class="card shadow p-1 mb-3 mt-3 mx-auto bg-white rounded"
    style="max-width: 50em"
  >
    <h1 class="card-header">Boardom Killer</h1>
    <div class="card-body">
      <p>
        Are you board? Do you need ideas for a new recipe, or looking for some
        inspiration to watch your favorite show? Welcome to the Boardom Killer!
        Upload photos, search for new ideas, find some <em>inspiration</em>
        and follow other users.
      </p>
    </div>
  </div>
-->
    <div class="container m-auto w-50">
        <p style="font-size: 14px;">Are you <em>board</em>? Welcome to Boardom Killer! Upload photos, search for new ideas, find some <em>inspiration</em> and follow other users.</p>
    </div>
  {% if pins %}
  <div class="card-columns mt-2">
    {% for pin in pins %}
    <div class="card shadow mx-2 rounded bg-transparent">
      <a href="/pin/{{ pin.id }}"
        ><img
          class="card-img-top img-responsive"
          src="/media/{{ pin.photo }}"
          alt="pinphoto"
      /></a>
      <div class="card-block ml-1">
        <h6 class="card-title">{{ pin.title }}</h6>
        <a href="/pin/{{ pin.id }}" class="stretched-link"></a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <h4>No pins found matching search</h4>
  {% endif %}
</div>

{% endblock %}
