{% extends 'base.html' %} {% block content %}

<div class="card shadow p-1 mb-3 mt-3 mx-auto bg-white rounded" style="max-width: 50em">
  <h1 class="card-header">Boardom Killer</h1>
  <div class="card-body">
    <p>
      Are you board? Do you need ideas for a new recipe, or looking for some inspiration to watch your
      favorite show? Welcome to the Boardom Killer! Upload photos, search for new ideas, find some <em>inspiration</em>
      and follow other users.
    </p>
  </div>
</div>
<div class="row">
  {% for pin in pins %}
  <div class="card shadow p-1 mb-3 mt-3 mx-auto bg-white rounded" style="max-width: 20em">
    <div class="card-header">
      <h4>{{ pin.title }}</h4>
    </div>
    <div class="card-body col-lg-3 col-md-4 col-xs-6">
      <img src="/media/{{ pin.photo }}" alt="pinphoto" class="rounded mx-auto" style="max-width: 18em" />
    </div>
    <div class="card-body">
      <a href="/pin/{{ pin.id }}" class="stretched-link"></a>
      <p>{{ pin.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}