{% extends 'base.html' %} {% load static %} {% block content %}
<div class="profile-section container">
  <div class="profile-header d-flex flex-column align-items-center my-5">
    <img
      style="max-width: 200px; max-height: 200px; border-radius: 50%"
      class="profile-pic w-50"
      src="../static/media/temp-profile.jpg"
      alt=""
    />
    <h1 class="m-3 fw-bold">{{ user.first_name }} {{ user.last_name }}</h1>
    <p>{{ user.username }}</p>
    <div class="follow-details">
      <p>0 followers &#8226; 0 following</p>
    </div>
  </div>
  <hr />
  <div class="your-pins" style="width: 100%">
    <h2 class="text-center">Your Pins</h2>
  </div>
  <div class="your-pins" style="width: 100%">
    <h2 class="text-center">Your Boards</h2>
    <ul>
      {% for board in boards %}
      <li>
        <a href="/boards/{{ board.id }}/">{{ board.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
